@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

:root {
    --main-font-size: 1.75vh;
}

span + span {
    margin-left: 15px;
}

.label {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto;

    font-family: 'Kanit', monospace;
    font-size: var(--main-font-size);
    text-align: center;
    font-weight: 900;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#label-reset {
    color: rgba(255, 214, 129, 255);
}

#label-teleport {
    color: rgba(255, 214, 129, 255);
}

.container {
    display: none;
    position: absolute;
    gap: 32px;
    bottom: 10vh;
    right: 10vh;
}

.data {
    top: 4vh;
    width: 20vh;
    height: 32vh;
    border-radius: 5%;

    z-index: 2;
    background-color:hsl(0deg 0% 0% / 0.7);
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 1vh;

    font-family: 'Kanit', monospace;
    font-size: var(--main-font-size);
    font-weight: 900;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#data-model {
    position: absolute;
    left: 2vh;
    top: 1vh;
    color: rgba(55, 225, 55, 240);
}

#data-engine {
    position: absolute;
    left: 2vh;
    top: 3vh;
    color: rgba(55, 225, 55, 240);
}

#data-body {
    position: absolute;
    left: 2vh;
    top: 5vh;
    color: rgba(55, 225, 55, 240);
}

#data-tank {
    position: absolute;
    left: 2vh;
    top: 7vh;
    color: rgba(55, 225, 55, 240);
}

#data-gear {
    position: absolute;
    left: 2vh;
    top: 10vh;
    color: rgba(55, 225, 55, 240);
}

#data-rpm {
    position: absolute;
    left: 2vh;
    top: 12vh;
    color: rgba(55, 225, 55, 240);
}

#data-mph {
    position: absolute;
    left: 2vh;
    top: 14vh;
    color: rgba(55, 225, 55, 240);
}

#data-top {
    position: absolute;
    left: 2vh;
    top: 16vh;
    color: rgba(55, 225, 55, 240);
}

#data-accel {
    position: absolute;
    left: 2vh;
    top: 20vh;
    color: rgba(55, 225, 55, 240);
}

#data-brake {
    position: absolute;
    left: 2vh;
    top: 22vh;
    color: rgba(245, 35, 48, 240);
}

#data-speed-1 {
    position: absolute;
    left: 2vh;
    top: 24vh;
    color: rgba(210, 210, 210, 240);
}

#data-speed-2 {
    position: absolute;
    left: 2vh;
    top: 26vh;
    color: rgba(210, 210, 210, 240);
}

#data-speed-3 {
    position: absolute;
    left: 2vh;
    top: 28vh;
    color: rgba(210, 210, 210, 240);
}

#data-speed-4 {
    position: absolute;
    left: 2vh;
    top: 30vh;
    color: rgba(210, 210, 210, 240);
}
